<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login To Sayburgh Blog</title>
</head>
<body>
    <h2>Login</h2>
    <!-- <form onsubmit="handleLogin" method="post"> -->
        <input type="text" id='email'> <br>
        <input type="password" id='password'> <br>
        <input type="submit" onclick="handleLogin()" value="Login">
    <!-- </form> -->

    <script>
        const handleLogin = () => {
            // e.preventDefault()
            const email = document.getElementById('email').value
            const password = document.getElementById('password').value
            fetch('/api/auth/login', {
                method: 'POST',
                headers: {"content-type": "application/json"},
                body: JSON.stringify({email, password})
            }).then(res => res.json())
            .then(data => console.log(data))
        }
    </script>
</body>
</html>