<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sayburgh Blog</title>
</head>
<body>
    <h1>Sayburgh Blog</h1>
    <h3>Good Morning, <span id="user"></span></h3>
    <script>
        fetch('http://localhost:7777/api/auth/loadUser')
        .then(res => res.json())
        .then(data => {
            console.log(data)
            const name = data.user.fullName;
            document.getElementById('user').innerHTML = name;
        })
    </script>
</body>
</html>